name: Publish release to Roblox

on:
  release:
    types: [published]
    branches: [main]

jobs:
  publish-module:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: setup aftman
        uses: ok-nick/setup-aftman@v0.4.2

      - name: publish to roblox
        run: rojo upload --cookie ${{ secrets.ROBLOX_TOKEN }} --asset_id $ASSET_ID publish.project.json
